<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HRMS" connectionString="Server=ZUOQINHP\SQLSERVER2016;Database=t5pwebapi;User Id=zuoqin;Password=Qwerty123;Integrated Security=true"/>
  </connectionStrings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="OutputFile" value="E:\T5PSVN\branches\research-mobile\WEB\output.clj"/>
  </appSettings>
</configuration>