[
 ;; user
 {:db/id #db/id[:db.part/db]
  :db/ident :user/code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity  
  :db/fulltext true
  :db/doc "A user's login"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's password"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/datemask
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's date format mask"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/timemask
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's time format mask"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/language
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "A user's preferred language"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/employee
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A user's employee"
  :db.install/_attribute :db.part/db}


;; new employee
 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/english
  :db/fulltext true
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A new employee english name"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :emp_new/chinese
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A new employee chinese name"
  :db.install/_attribute :db.part/db}


 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/payrollgroup
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "PayrollGroup which has budget for this new employee"
  :db.install/_attribute :db.part/db}  


 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/hirestatus
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Hire status for new employee"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/empcode
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Employee code for new employee"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/positioncode
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Employee code for new employee"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/birthday
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Employee birthday"
  :db.install/_attribute :db.part/db}    

 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/gender
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "New Employee gender"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/major
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "New Employee major"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/hiredate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "New employee hire date"
  :db.install/_attribute :db.part/db}  

 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/degree
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "New Employee degree"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :emp_new/orgcode1
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "New Employee degree"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :emp_new/orgcode2
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "New Employee degree"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :emp_new/orgcode3
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "New Employee degree"
  :db.install/_attribute :db.part/db}


{:db/id #db/id[:db.part/db]
  :db/ident :emp_new/orgcode4
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "New Employee degree"
  :db.install/_attribute :db.part/db}


 ;; employee
 {:db/id #db/id[:db.part/db]
  :db/ident :employee/english
  :db/fulltext true
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A employee english name"
  :db.install/_attribute :db.part/db}


 {:db/id #db/id[:db.part/db]
  :db/ident :employee/chinese
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A employee chinese name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :employee/portrait
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A employee photo"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :employee/payrollgroup
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "PayrollGroup which has budget for this employee"
  :db.install/_attribute :db.part/db}

  
 {:db/id #db/id[:db.part/db]
  :db/ident :employee/positions
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Positions hold by employee"
  :db.install/_attribute :db.part/db}


 {:db/id #db/id[:db.part/db]
  :db/ident :employee/birthday
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Employee birthday"
  :db.install/_attribute :db.part/db}    


;; position
 {:db/id #db/id[:db.part/db]
  :db/ident :position/positioncode
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Position code"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :position/organization
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Organization which has budget for this position"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :position/english
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Position english title"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :position/chinese
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Position chinese title"
  :db.install/_attribute :db.part/db}


;; organization
 {:db/id #db/id[:db.part/db]
  :db/ident :organization/orgcode
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "An organization code"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :organization/english
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "An organization english name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :organization/chinese
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "An organization chinese name"
  :db.install/_attribute :db.part/db}


;; payrollgroup
 {:db/id #db/id[:db.part/db]
  :db/ident :payrollgroup/english
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Payrollgroup english name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :payrollgroup/chinese
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Payrollgroup chinese name"
  :db.install/_attribute :db.part/db}


 ;; sysmenu
 {:db/id #db/id[:db.part/db]
  :db/ident :sysmenu/menucode
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :sysmenu/chinese
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :sysmenu/english
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :sysmenu/submenu
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's time format mask"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :sysmenu/urltarget
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's time format mask"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :sysmenu/menuopt
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :sysmenu/menuorder
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :sysmenu/menulevel
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}  



 ;; recipient/type enum values
 [:db/add #db/id[:db.part/user] :db/ident :recipient.type/to]
 [:db/add #db/id[:db.part/user] :db/ident :recipient.type/cc]
 [:db/add #db/id[:db.part/user] :db/ident :recipient.type/bcc]

;; recipients
 {
  :db/id #db/id[:db.part/db]
  :db/ident :recipient/employee
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Employee - Receipient"
  :db.install/_attribute :db.part/db
 }


 {:db/id #db/id[:db.part/db]
  :db/ident :recipient/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A recipient type enum value"
  :db.install/_attribute :db.part/db}


;; messages
 {:db/id #db/id[:db.part/db]
  :db/ident :message/sender
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Employee who sent message"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :message/recipients
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Receipients for the message"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :message/senddate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Messsage sent time"
  :db.install/_attribute :db.part/db}  

 {:db/id #db/id[:db.part/db]
  :db/ident :message/status
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Messsage status"
  :db.install/_attribute :db.part/db}  

 {:db/id #db/id[:db.part/db]
  :db/ident :message/english
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Message english subject"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :message/chinese
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Message chinese subject"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :message/body
  :db/fulltext true  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Message Body Text"
  :db.install/_attribute :db.part/db}

 ]
